.Cart_wrapper {
    display: flex;
    flex-direction: column;
    width: 960px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
  
.Cart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f5f5f5;
    margin: 0 0 70px 0;
    font-size: 32px;
}
  
.Cart_name {
    font-weight: 600;
}  

.Cart_summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 100px 20px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 70px;
}
  
.Cart_price{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    text-align: right;
    margin-right: 20px;
}

.Cart_price span {
    margin-right: 80px;
}
  
.Cart_empty{
    padding: 18px;
    text-align: center;
}